body {
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    word-spacing: 4px;
    color: white;
    background-image: url(/Main/assets/images/backgroundMX.jpg);
    background-size: cover;
}

/* styles the current score and time */
.scoresNTime {
    display: flex;
    justify-content: space-around;
}

.seconds {
    padding: 10px;
    background-color: rgba(141, 16, 16, .5);
    border-radius: 8px;
}

/* styles the colored box with all the text and buttons except scores, time, and whether the player got "nimodo" or "correcto" */
.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(141, 16, 16, .5);
    text-align: center;
    padding-bottom: 10px;
    border-radius: 8px;

}

button:hover {
    background-color: rgb(3, 88, 3, .5);
    color: white;
}

.startBtn {
    width: min-content;
    padding: 8px 5px;
}

.text-box {
    font-size: 20px;
}

.choices {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.choices button {
    margin: 20px;
}

/* styles the form where user puts in name to save scores and the save button margin */
input {
    margin: 5px;
}

.pScores {
    margin: 10px;
}

/* styles the bottom green section where answer evaluation is made and user is notified whether they guessed correctly or not */
.outputSelection {
    font-size: 30px;
    background-color: rgb(3, 88, 3, .5);
    border-radius: 8px;
    text-align: center;
}

/* media query that removes background and changes font for better readablity on smaller screen as well as removes padding of title of player score */

@media screen and (max-width: 350px) {
    body {
        background-image: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pScores {
        padding: 0px;
    }
}